/*#about, #education {
    padding: .3rem;
    border-radius: .3rem;
    border: 1px solid var(--theme-l);
}*/
#basics{
    width: (100%, 100%, 100%);
    height: 7rem;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: repeat(6, 1fr);
}
.title,
#summary,
#location,
#contact{
    grid-column: 1/5;
}
.title{
    font-size: 1.5rem;
    color: var(--contrast-l);
}
.rol{
    font-size: 1.5rem;
    font-family: var(--economica);
    color: var(--theme-l);
}
.name{
    font-size: 2rem;
    font-weight: bolder;
    font-family: var(--smooch);
}
.title-section{
    width: 100%;
    padding: .2rem;
    border-radius: .3rem;
    color: var(--theme-l);
}
#me{
    grid-row: 1/4;
    grid-column: 5/7;
    min-width: 2rem;
    min-height: 15rem;
}
#summary{
    width: 85%;
    margin: .5rem 0 0 0;
}
#location,
#contact{
    height: 1.5rem;
    margin: .5rem 0;
    color: var(--contrast-l);
}
#contact{
    margin: 1.25rem 0;
}
#contact>a{
    padding: .2rem .4rem;
    margin: 0 .2rem;
    border: 1px solid var(--contrast-l);
    border-radius: .3rem;
}
#contact>a:hover{
    padding: .2rem .8rem;
    border-radius: .3rem;
    color: var(--contrast-d);
    background: var(--contrast-l);
/*    border: 1px solid var(--contrast-d);*/
}
#contact>a:hover>i{
    color: var(--contrast-d);
}

.institution{
    display: grid;
    margin: 1rem .5rem 1rem 0;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: repeat(6, 1fr);
}
.institution>h4{
    grid-row: 1;
    grid-column: 1/5;
    font-size: 1rem;
}
.institution>.desc{
    grid-row: 2;
    grid-column: 1/5;
}
.institution>.date{
    grid-row: 1/3;
    grid-column: 6;
    padding: .1rem;
    background: var(--contrast-d);
    text-align: center;
    border-radius: .3rem;
}
.skill{
    margin: .3rem .3rem .3rem 0;
    padding: .3rem;
    border-radius: .3rem;
    border: 1px solid var(--contrast-l);
}
.skill>i{
    margin-right: .3rem;
}
#projects{
    display: flex;
    flex-wrap: wrap;
}
.project{
    width: 30%;
    height: 10rem;
    margin: .5rem .5rem .5rem 0;
    display: flex;
    flex-direction: column;
    justify-content: start;
    overflow: hidden;
    border-radius: .3rem;
    background: var(--contrast-d);
}
.project>*{
    background: var(--contrast-d);
}
.project>h5{
    font-size: 1.2rem;
    margin: 0 0 .5rem 0;
    padding: .3rem .3rem 0 .3rem;
    border-radius: .3rem .3rem 0 0;
}
.project>p{
    padding: 0 .3rem .3rem .3rem;
    border-radius: 0 0 .3rem .3rem;
}